<%= actions do %>
  <%= link_to t(:back_to_index), content_categories_path, class: 'button right radius small secondary' %>
<% end %>

<div class="row">
  <div class="columns small-12">
    <%= simple_form_for object, wrapper: :horizontal_form do |f| %>
      <fieldset>
        <legend><%= legend %></legend>
        <%= render 'cms/content_categories/form', f: f %>
      </fieldset>
      <%= render 'cms/shared/form_buttons', cancel: content_categories_path, f: f %>
    <% end %>
  </div>
</div>
