<%= f.hidden_field :parent_id %>
<%= f.hidden_field :type %>

<div class="tabs">
  <ul class="button-group radius">
    <li><a class="button small secondary" href="#metadata-tab"><%= t(:metadata_and_static_content)%></a></li>
    <% if show_components %>
      <li><a class="button small secondary" href="#components-tab"><%= t(:components)%></a></li>
    <% end %>
    <% if show_categories? %>
      <li><a class="button small secondary" href="#categories-tab"><%= t(:categories)%></a></li>
    <% end %>
  </ul>

  <div id="metadata-tab">
    <ul class="accordion" data-accordion>

      <% css_class = node_errors?(@content_node, [:title, :name, :template, :meta_title, :meta_keywords, :meta_description, :url, :redirect, :access]) ? 'active accordion-error' : '' %>
      <li class="accordion-navigation <%= css_class %>">
          <a href="#metadata"><%= t(:metadata) %></a>
          <div id="metadata" class="content <%= css_class %>">
            <%= f.input :title %>
            <%= f.input :name %>
            <%= f.input :template do %>
              <%= f.select :template, template_options %>
            <% end %>
            <%= f.input :meta_title %>
            <%= f.input :meta_keywords %>
            <%= f.input :meta_description, as: :text %>
            <%= f.input :url %>
            <%= f.input :redirect %>
            <%= f.input :access do %>
              <%= f.select :access, [[t('public'), 'public'], [t('private'), 'private']] %>
            <% end %>
          </div>
      </li>

      <% @content_node.content_groups.each do |group, attrs| %>
        <% css_class = attributes_errors?(@content_node, attrs) ? 'active accordion-error' : '' %>
        <li class="accordion-navigation <%= css_class %>">
          <a href="#<%= group %>"><%= t(group) %></a>
          <div id="<%= group %>" class="content <%= css_class %>">
            <% attrs.each do |attribute| %>
              <% css_class = !attribute_errors(@content_node, attribute).nil? ? 'error' : '' %>
              <div class="row <%= css_class %>">
                <%= render 'cms/content_attributes/' + attribute.type_name + '_field', f: f, attribute: attribute, component_idx: nil %>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>

    </ul>
  </div>

  <% if show_components %>
    <div id="components-tab">
      <% if @content_node.content_components.present? %>
        <ul id="components" class="accordion" data-accordion>
          <%= render "cms/content_components/accordion_items", components: @content_node.content_components %>
        </ul>
      <% else %>
        <ul id="components" class="accordion drop-placeholder" data-accordion>
          <li class="placeholder"><%= t(:drop_components) %></li>
        </ul>
      <% end %>
    </div>
  <% end %>

  <% if show_categories? %>
    <div id="categories-tab">
      <%= f.association :content_categories, as: :check_boxes, label: false %>
    </div>
  <% end %>

</div>
