<table width="100%" class="content-nodes index">
  <thead>
    <tr>
      <th><%= t("title") %></th>
      <th><%= t("type") %></th>
      <th><%= t("name") %></th>
      <th><%= t("access") %></th>
      <th><%= t("updated_at") %></th>
      <th width="394"></th>
    </tr>
  </thead>
  <tbody>
    <% content_nodes.each do |node| %>
      <tr id="<%= dom_id node %>" data-sort-url="<%= sort_content_node_path(node) %>">
        <td>
          <% if node.children.count > 0 %>
            <%= link_to node.title, content_node_path(node), class: 'button small radius secondary' %>
          <% else %>
            <%= link_to node.title, edit_content_node_path(node), class: 'button small radius secondary' %>
          <% end %>
        </td>
        <td><%= t("content_nodes.#{node.type.downcase}") %></td>
        <td><%= node.name %></td>
        <td><%= t(node.access) %></td>
        <td><%= l node.updated_at, format: :full %></td>
        <td class="actions">
          <ul class="button-group radius center">
            <% if content_node_options(node).present? %>
              <li>
                <%= link_to t(:new_child_node), '#', 'data-dropdown': "drop-#{dom_id node}", 'aria-controls': "drop-#{dom_id node}", 'aria-expanded': 'false', 'data-options': 'align:left' , class: 'button small '  %>
                <ul id="drop-<%= dom_id node %>" class="small f-dropdown" data-dropdown-content>
                  <%= render 'cms/content_nodes/options', options: content_node_options(node), parent_id: node.id %>
                </ul>
              </li>
            <% end %>
            <li>
              <%= link_to t(:edit), edit_content_node_path(node), class: 'button small '  %>
            </li>
            <li>
              <%= link_to t(:delete), content_node_path(node), 'data-confirm': t(:really_delete), method: :delete, class: 'button small ' %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
