<table width="100%" class="content-nodes index">
  <thead>
    <tr>
      <th><%= t("title") %></th>
      <th><%= t("type") %></th>
      <th><%= t("name") %></th>
      <th><%= t("access") %></th>
      <th><%= t("updated_at") %></th>
      <th width="394"></th>
    </tr>
  </thead>
  <tbody>
    <% content_nodes.each do |node| %>
      <tr id="<%= dom_id node %>" data-sort-url="<%= sort_content_node_path(node) %>">
        <td>
          <% if node.unscoped_children.count > 0 %>
            <%= link_to node.title, edit_content_node_path(node), class: 'lh-33' %>
            <%= link_to "#{t(:children_count, count: node.unscoped_children.count)}", content_node_path(node), class: 'button tiny radius right' %>
          <% else %>
            <%= link_to node.title, edit_content_node_path(node) %>
          <% end %>
        </td>
        <td><%= t("content_nodes.#{node.type.downcase}") %></td>
        <td><%= node.name %></td>
        <td><%= link_to t(node.access), toggle_access_content_node_path(node), remote: true, class: "button toggle-access tiny radius #{node.public? ? 'success' : 'alert' }" %></td>
        <td><%= l node.updated_at, format: :full %></td>
        <td class="actions">
          <ul class="button-group radius center">
            <% if content_node_options(node).present? %>
              <li>
                <%= link_to t(:new_child_node), '#', 'data-dropdown': "drop-#{dom_id node}", 'aria-controls': "drop-#{dom_id node}", 'aria-expanded': 'false', 'data-options': 'align:left' , class: 'button tiny'  %>
                <ul id="drop-<%= dom_id node %>" class="small f-dropdown" data-dropdown-content>
                  <%= render 'cms/content_nodes/options', options: content_node_options(node), parent_id: node.id %>
                </ul>
              </li>
            <% end %>
            <li>
              <%= link_to t(:edit), edit_content_node_path(node), class: 'button tiny'  %>
            </li>
            <li>
              <%= link_to t(:delete), content_node_path(node), 'data-confirm': t(:really_delete), method: :delete, class: 'button tiny' %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
