<%= actions do %>
  <div class="right">
    <%= link_to t(:back_to_index), content_nodes_path, class: 'button radius small secondary' %>
    <button href="#" data-dropdown="content-nodes-drop" aria-controls="content-nodes-drop" aria-expanded="false" class="button dropdown radius small" data-options='align:left'>
      <% if params[:id].present? %>
        <%= t(:new_sub_node) %>
      <% else %>
        <%= t(:new_content_node) %>
      <% end %>
    </button>
    <ul id="content-nodes-drop" data-dropdown-content class="f-dropdown" aria-hidden="true">
      <%= render 'cms/content_nodes/options', options: content_node_options(@content_node), parent_id: params[:id] %>
    </ul>
  </div>
<% end %>

<div class="columns small-6 content-node-form">
  <%= simple_form_for @content_node, as: :content_node, url: content_node_path(@content_node), method: :put, wrapper: :horizontal_form do |f| %>
    <%= render 'cms/content_nodes/form', f: f %>
    <div class="form-buttons">
      <%= render 'cms/shared/form_buttons', cancel: content_nodes_path, f: f %>
    </div>
  <% end %>
</div>

<%= render 'cms/shared/asset_bar', images: @content_images, documents: @content_documents %>
