<%= actions do %>
  <div class="right">
    <% if @content_node.all_children.present? %>
      <% path = content_node_path(@content_node) %>
    <% elsif @content_node.parent.present? %>
      <% path = content_node_path(@content_node.parent) %>
    <% else %>
      <% path = content_nodes_path %>
    <% end %>
    <%= link_to t(:back_to_index), path, class: 'button radius small secondary' %>
    <%= link_to t(:delete_content_node), content_node_path(@content_node), method: :delete, class: 'button radius small', data: { confirm: t(:really_delete) } %>
    <% if content_node_options(@content_node).present? %>
      <button href="#" data-dropdown="content-nodes-drop" aria-controls="content-nodes-drop" aria-expanded="false" class="button dropdown radius small" data-options='align:left'>
        <%= t(:new_child_node) %>
      </button>
      <ul id="content-nodes-drop" data-dropdown-content class="f-dropdown" aria-hidden="true">
        <%= render 'cms/content_nodes/options', options: content_node_options(@content_node), parent_id: params[:id] %>
      </ul>
    <% end %>
  </div>
<% end %>

<div class="columns small-6 form-left">
  <%= simple_form_for @content_node, as: :content_node, url: content_node_path(@content_node), method: :put, wrapper: :horizontal_form do |f| %>
    <%= render 'cms/content_nodes/form', f: f %>
    <div class="form-buttons">
      <%= render 'cms/shared/form_buttons', cancel: content_nodes_path, f: f %>
    </div>
  <% end %>
</div>

<%= render 'cms/shared/asset_bar', images: @images, documents: @documents, components: @components %>
