<%= actions do %>
  <div class="right">
    <%= link_to t(:back_to_index), content_nodes_path, class: 'button radius small secondary' %>
  </div>
<% end %>

<div class="columns small-6 content-node-form">
  <%= simple_form_for @content_node, as: :content_node, url: content_nodes_url, wrapper: :horizontal_form do |f| %>
    <%= render 'cms/content_nodes/form', f: f %>
    <%= render 'cms/shared/form_buttons', cancel: content_nodes_path, f: f %>
  <% end %>
</div>

<%= render 'cms/shared/asset_bar', images: @content_images, documents: @content_documents %>
