<%= actions do %>
  <div class="right">
    <% path = @content_node.root? ? content_nodes_path : content_node_path(@content_node.parent) %>
    <%= link_to t(:back_to_index), path, class: 'button radius small secondary' %>
    <%= link_to t(:edit), edit_content_node_path(@content_node), class: 'button radius small'  %>
    <button href="#" data-dropdown="content-nodes-drop" aria-controls="content-nodes-drop" aria-expanded="false" class="button dropdown radius small" data-options='align:left'>
      <%= t(:new_child_node) %>
    </button>
    <ul id="content-nodes-drop" data-dropdown-content class="f-dropdown" aria-hidden="true">
      <%= render 'cms/content_nodes/options', options: content_node_options(@content_node), parent_id: params[:id] %>
    </ul>
  </div>
<% end %>

<div class="columns small-12">
  <% if @content_node.children.prenset? %>
    <%= render 'cms/content_nodes/list', content_nodes: @content_node.children %>
  <% end %>
</div>
