<% content_for :page_title do %>
  <%= t(:content_node_versions) %> &ldquo;<%= @content_node.title %>&rdquo;
<% end %>

<%= render :partial => 'spree/admin/shared/content_sub_menu' %>

<% content_for :page_actions do %>
  <div class="toolbar" data-hook="toolbar">
    <ul class="actions header-action-links inline-menu">
      <li id="new_content_node_link">
      <%= button_link_to t(:back_to_content_node), edit_admin_content_node_url(@content_node), :icon => 'icon-arrow-left' %>
      </li>
    </ul>
  </div>
<% end %>

<table class="index">
  <thead>
    <tr>
      <th><%= t("version") %></th>
      <th><%= t("user") %></th>
      <th><%= t("changed") %></th>
      <th><%= t("created_at") %></th>
    </tr>
  </thead>
  <tbody>
    <% @versions.each do |version| %>
      <tr id="<%= dom_id version %>">
        <td><%= link_to version.version, :action => 'version', :id => version.content_node_id, :version => version.version %></td>
        <td><%= version.user.email %></td>
        <td><%= version.changed_fields.join(', ') %></td>
        <td><%= version.created_at %></td>
      </tr>
    <% end %>
  </tbody
</table>

