<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= button_link_to 'set_version', {:action => 'set_version', :id => @version.content_node_id, :version => @version.version}, :method => :post %>
    </li>
  </ul>
  <br class='clear' />
</div>

<div class="meta" style="overflow:hidden">
  <% for key in [:name, :description, :keywords, :template] %>
    <div style="float:left;margin-right:20px">
      <strong><%= key %>:</strong>
      <%= @version.send(key) %>
    </div> 
  <% end %>
</div> 

<% for attribute in @version.content_attribute_versions %>
  <%= render 'spree/admin/content_nodes/attribute/' + attribute.type_name, :attribute => attribute  %>
<% end %>

<h2 style="margin-top:20px"><%= @version.title %></h2>
<div style="padding:20px">
  <%= @version.body.to_s.html_safe %>
</div>
