<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "CMS" %></title>

    <%= stylesheet_link_tag    "cms/application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "cms/application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="sticky">
      <nav class="top-bar" data-topbar role="navigation">
        <%= render 'cms/shared/nav' %>
      </nav>
      <div style="clear: both;"></div>
    </div>

    <%= render 'cms/shared/breadcrumb' %>

    <%= yield :actions %>

    <%= yield %>
  </body>
</html>
