<table width="100%">
  <thead>
    <tr>
      <th width="154"><%= t "image" %></th>
      <th><%= t "caption" %></th>
      <th><%= t "tags" %></th>
      <th width="243" class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% objects.each do |image| %>
      <tr>
        <td class="center">
          <%= image_tag image.image.thumb('134x74#').url, class: 'th' %>
        </td>
        <td><%= (image.caption || '').html_safe %></td>
        <td><%= image.tags %></td>
        <td class="actions">
          <ul class="button-group right radius">
            <li>
              <%= link_to t(:edit), edit_content_image_path(image), class: 'button small'  %>
            </li>
            <li>
              <%= link_to t(:delete), content_image_path(image), 'data-confirm': t(:really_delete), method: :delete, class: 'button small' %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= cms_paginate objects, controller: :content_images, action: :index_search %>
