
<div class="dialog-head">
  <%= label_tag t(:search) %>
  <%= text_field_tag :q, params[:q], 'data-url' => dialog_admin_content_images_path %>

  <%= link_to 'x', '#', :class => 'close-dialog' %>  
</div>

<div class="dialog-content">

  <ul>
    <% @content_images.in_groups_of(4).each do |content_images| %>
      <% content_images.each do |content_image| %>
        <% if content_image %>
          <li>
          <%= link_to '#', :class => 'select-image' do %>
            <%= image_tag content_image.image.url(:thumb), :id => "content_image-#{content_image.id}" %>
            <br />
            <span class="caption">
              <%= content_image.caption.blank? ? 'keine Bezeichnung' : content_image.caption %>
            </span>
          <% end %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <div class="clear"></div>
  <%= paginate @content_images %>

</div>

