<%= actions do %>
  <div class="right">
    <%= link_to t(:back_to_index), content_images_path, class: 'button radius small secondary' %>
    <%= link_to t(:delete_content_image), content_image_path(@object), method: :delete, class: 'button radius small', data: { confirm: t(:really_delete) } %>
    <%= link_to t(:new_content_image), new_content_image_path, class: 'button radius small' %>
  </div>
<% end %>

<div class="columns small-6 form-left">
  <h2><%= t(:edit_image) %></h2>
  <%= simple_form_for @object, wrapper: :horizontal_form do |f| %>
    <div class="content">
      <%= render 'cms/content_images/form', f: f %>
    </div>
    <div class="form-buttons">
      <%= render 'cms/shared/form_buttons', cancel: content_images_path, f: f %>
    </div>
  <% end %>
</div>

<div class="sidebar columns small-6">
  <div class="image-wrap">
    <div class="image">
      <%= image_tag @object.image.url(:rotator) %>
    </div>
  </div>
</div>
