<% components.each_with_index do |component, idx| %>
  <% id = "#{component.class.name.underscore}-#{idx}-#{component.id || 'new'}" %>
  <% css_class = attributes_errors?(component, component.content_attributes) ? 'active accordion-error' : '' %>
  <li class="accordion-navigation <%= css_class %>">
    <%= link_to "##{id}", class: 'accordion-link' do %>
      <%= image_tag component.icon %>
      <%= t("content_components.#{component.class.name.sub('Component', '').underscore}") %>
    <% end %>
    <div class="actions">
      <%= link_to t(:remove_component), '#', id: "delete-#{id}", class: 'button tiny right radius remove-component' %>
    </div>
    <div id="<%= id %>" class="content">
      <%= render 'cms/content_components/fields', component: component, component_idx: idx %>
    </div>
  </li>
<% end %>
