
<% components.each_with_index do |component, idx| %>
  <% id = "#{component.class.name.underscore}-#{idx}-#{component.id || 'new'}" %>
  <% css_class = attributes_errors?(component, component.content_attributes) ? 'active accordion-error' : '' %>
  <li class="accordion-navigation <%= css_class %>">
    <%= link_to "##{id}", class: 'accordion-link' do %>
      <%= image_tag component.icon %>
      <% if component.respond_to?(:form_title) && !component.new_record? %>
        <%= component.form_title  %>
      <% else %>
        <%= component.class.localize_name %>
      <% end %>
    <% end %>
    <div class="actions">
      <%= link_to t(:remove_component), '#', id: "delete-#{id}", class: 'button tiny right radius remove-component' %>
    </div>
    <%= render 'cms/content_components/component_fields', component: component, component_idx: idx %>
    <% if component.content_attributes.present? %>
      <div id="<%= id %>" class="content">
        <%= render 'cms/content_components/attribute_fields', component: component, component_idx: idx %>
      </div>
    <% end %>
  </li>
<% end %>
