<table width="100%">
  <thead>
    <tr>
      <th  class="center" width="134"><%= t "attachment" %></th>
      <th><%= t "name" %></th>
      <th><%= t "tags" %></th>
      <th width="243" class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% objects.each do |object| %>
      <tr>
        <td class="center">
          <%= link_to object.attachment.url, target: :blank do %>
            <%= image_tag 'cms/pdf_icon.png', alt: 'pdf' %>
          <% end %>
        </td>
        <td><%= object.name %></td>
        <td><%= object.tags %></td>
        <td class="actions">
          <ul class="button-group right radius">
            <li>
              <%= link_to t(:edit), edit_content_document_path(object), class: 'button small'  %>
            </li>
            <li>
              <%= link_to t(:delete), content_document_path(object), 'data-confirm': t(:really_delete), method: :delete, class: 'button small alert' %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= cms_paginate objects, controller: :content_documents, action: :index_search %>
