<%= actions do %>
  <div class="right">
    <%= link_to t(:back_to_index), content_documents_path, class: 'button radius small secondary' %>
    <%= link_to t(:delete_content_document), content_document_path(@object), method: :delete, class: 'button radius small', data: { confirm: t(:really_delete) } %>
    <%= link_to t(:new_content_document), new_content_document_path, class: 'button radius small' %>
  </div>
<% end %>

<%= render 'form_wrap', legend: t(:edit_document), object: @object %>
