<div class="sidebar columns small-6">
  <div class="tabs">
    <ul class="button-group radius">
      <% if show_components %>
        <li><a class="button small secondary" href="#components-tab"><%= t(:components)%></a></li>
      <% end %>
      <li><a class="button small secondary" href="#images-tab"><%= t(:images)%></a></li>
      <li><a class="button small secondary" href="#documents-tab"><%= t(:documents)%></a></li>
    </ul>
    <% if show_components %>
      <div id="components-tab">
        <ul class="assets components small-block-grid-4">
          <%= render "cms/content_components/accordion_items", components: components %>
        </ul>
      </div>
    <% end %>
    <div id="images-tab">
      <div class="columns small-12">
        <%= render 'cms/shared/asset_search_form', type: :images, url: sidebar_search_content_images_path(format: :js) %>
      </div>
      <ul id="image-list" class="assets images small-block-grid-4">
        <%= render 'cms/shared/asset_list', objects: images, scope: :images %>
      </ul>
    </div>
    <div id="documents-tab">
      <%= render 'cms/shared/asset_search_form', type: :documents, url: sidebar_search_content_documents_path(format: :js) %>
      <ul id="document-list" class="assets documents small-block-grid-4">
        <%= render 'cms/shared/asset_list', objects: documents, scope: :documents %>
      </ul>
    </div>
  </div>
</div>
