<li data-asset-id="<%= asset.id %>" data-url="<%= asset_url(asset) %>">
  <div class="relative">
    <div class="actions">
      <%= link_to "x", "#", class: 'delete' %>
    </div>
    <% if defined?(name) && name.present? %>
      <%= hidden_field_tag name, asset.id %>
    <% else %>
      <%= hidden_field_tag '', asset.id %>
    <% end %>
    <% if image?(asset) %>
      <%= image_tag asset_url(asset) %>
    <% elsif document?(asset) %>
      <%= image_tag 'cms/pdf_icon.png', alt: 'pdf' %>
      <br />
      <%= asset.name %>
    <% end %>
  </div>
</li>
